<div class="float-center">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Add Task</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-input type="text" label="Name" labelPlacement="floating" fill="outline"></ion-input>
        <ion-textarea type="text" label="Description" labelPlacement="floating" fill="outline" rows="3" class="mt-3"></ion-textarea>
        <ion-datetime-button datetime="taskDate" class="mt-3 float-end w-100"></ion-datetime-button>

        <div class="mt-3 float-end w-100">
          <ion-button (click)="onCancel()" color="danger" fill="outline" type="button">Cancel</ion-button>
          <ion-button color="primary" type="submit">Submit</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</div>

<!-- show modal for date time -->
<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      id="taskDate"
      presentation="date-time"
      [formatOptions]="{
        date: {
          day: '2-digit',
          month: 'long',
          year: 'numeric'
        },
        time: {
          hour: '2-digit',
          minute: '2-digit',
        },
      }"
    ></ion-datetime>
  </ng-template>
</ion-modal>